button {
    border: 1px solid var(--MainDark_Light, transparent);
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex: 1 0 0;
}

.button-accent {
    width: 100%;
    background: light-dark(var(--MainDark-Light), var(--Secondary-2-Dark));
    color: light-dark(var(--Accent-2-Light), var(--Accent-1-Dark));
}

.button-secondary {
    margin-left: 20px;
    white-space: nowrap;

    @media (prefers-color-scheme: dark) {
        color: var(--Accent--Dark)
    }
}

.github-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}