.info-bar {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    padding: 10 30;
    background: light-dark(var(--MainDark-Light), #1a1a1a);
    color: light-dark(var(--Accent-2-Light), var(--Secondary-3-Light));
    justify-content: space-between;
    align-items: center;
    height: var(--info-bar-height)
}