* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  color-scheme: light dark;
  --MainDark-Light: rgba(22, 36, 14, 1);
  --Secondary-1-Light: rgba(246, 246, 246, 1);
  --Secondary-2-Light: rgba(251, 251, 251, 1);
  --Secondary-3-Light: rgba(223, 223, 223, 1);
  --Accent-1-Light: rgba(96, 164, 4, 1);
  --Accent-2-Light: rgba(240, 255, 232, 1);
  --main-padding: 60px;
  --main-gap: 30px;
  --secondary-padding: 20px;
  --main-border-radius: 0px;
  --info-bar-height: 60px;
}

body {
  margin: 0;
  font-family: "Ruwudu", 'serif', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: light-dark(var(--MainDark-Light), #F0FFCF);

}

.side-bar-wrapper {
  position: sticky;
  position: -webkit-sticky;
  top: var(--info-bar-height);
  width: 24rem;
  height: fit-content
}

.side-bar {
  display: flex;
  padding: var(--main-padding);
  width: 100%;
}

.side-bar-inner {
  gap: var(--main-gap);
  display: flex;
  width: 100%;
}

.button-wrapper {
  display: flex;
  gap: 8px;
}

.top-sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--main-gap);
}

.bottom-sidebar {
  display: flex;
  width: 100%;
  gap: 4px;
}

#root {
  display: flex;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.arweave-logo {
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px;
  transition: all 300ms;
}

.arweave-logo:hover {
  opacity: 50%;
}

.full-page {
  display: flex;
  width: 100%;
  background: var(--Secondary-2-Light);
}

.logo-container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  min-width: 160px;

}

.current-version {
  text-transform: uppercase;
  font-size: clamp(0.6rem, 1.25vw, 0.8rem);

}

.arweave-bg {
  position: absolute;
  opacity: 30%;

  @media (prefers-color-scheme: dark) {
    filter: invert(1);
  }
}

.accent-content-container {
  width: 100%;
}

.body-wrapper {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.main-wrapper {
  width: 100%;
}

.main-container {
  width: 100%;
  border-left: 1px solid var(--Secondary-3-Light);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-flex {
  display: flex;
  max-width: 1200px;
  margin-inline: auto;
  margin-top: var(--info-bar-height)
}

.content-container {
  display: flex;
  flex-direction: column;
  padding: var(--main-padding);
  justify-content: space-between;
  max-width: 1200px;
}

.illustration-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.main-container>*:not(:last-child) {
  border-bottom: 1px solid var(--Secondary-3-Light)
}

.nodes-content-moderation-container {
  width: 75%;
}

.column {
  display: flex;
  flex-direction: column;
  gap: var(--main-gap);
}

.row {
  display: flex;
  width: 100%;
}

.shepherd-font {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  font-size: clamp(0.75rem, 1.25vw, 0.9rem);
}

.code-wrapper {
  display: flex;
  gap: 5px;
  cursor: pointer;
  transition: opacity 300ms;
  align-items: center;
}

.code-wrapper:hover {
  opacity: 50%
}

.code-copy-content {
  display: flex;
  flex-direction: column;
  gap: var(--main-gap)
}

.code-container {
  display: flex;
  width: 100%;
  align-items: center;
  background: light-dark(#fff, #183E01);
  color: light-dark(var(--MainDark-Light), #0AD63A);
  font-size: clamp(0.6rem, 1.25vw, 0.8rem);
  border-radius: var(--main-border-radius);
  text-overflow: ellipsis;

}

.code-container>* {
  padding: 10px;
}

.code-container .icon-wrapper {
  background: var(--Secondary-3-Light);
}

.code-container code {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.code-container .copy-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-cta {
  display: flex;
  gap: 16px;
  align-items: center;
}

.blue {
  color: light-dark(blue, rgb(49, 255, 56));
  transition: opacity 300ms;
  cursor: pointer;
}

.blue:hover {
  opacity: 50%;
}

a {
  all: unset;
  transition: all 300ms;
}

a:hover {
  opacity: 50%;
  color: #60A404;
}

button {
  all: unset;
  cursor: pointer;
  transition: opacity 300ms;
}

button:hover {
  opacity: 50%;
}

h1 {
  font-family: "Saira", sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 4%;
  font-size: clamp(0.75rem, 2.0vw, 2.0rem);
  margin: 0;
}

h2 {
  font-family: "Saira", sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 4%;
  font-size: clamp(0.75rem, 2.0vw, 1.5rem);
  margin: 0;
}

h2 span {
  font-family: "Saira", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 4%;
  font-size: clamp(0.75rem, 2.0vw, 1.15rem);
  margin-right: 10px;
  color: var(--Accent-1-Light)
}

p {
  margin: 0;

  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  font-size: clamp(0.75rem, 1.25vw, 1rem);
}

picture {
  display: flex;
  width: fit-content;
  height: fit-content;
  align-items: center;
}

@media screen and (max-width: 992px) {



  .arweave-logo {
    width: 80px;

  }
}